[submodule "docs/tonttijakosuunnitelma/v1.0"]
	path = docs/tonttijakosuunnitelma/v1.0
	url = https://github.com/ilkkarinne/Tonttijakosuunnitelman-tietomalli.git
	branch = v1.x
[submodule "docs/_includes/common"]
	path = docs/_includes/common
	url = https://github.com/ilkkarinne/rytm-jekyll-includes.git
[submodule "docs/kaavatiedot/v1.0"]
	path = docs/kaavatiedot/v1.0
	url = https://github.com/ilkkarinne/kaavatietomalli-1.git
[submodule "docs/kaavatiedot/asemakaava/v1.0"]
	path = docs/kaavatiedot/asemakaava/v1.0
	url = https://github.com/ilkkarinne/ktm-asemakaava.git
[submodule "docs/ry-yhteiset/v1.0-dev"]
	path = docs/ry-yhteiset/v1.0-dev
	url = https://github.com/ilkkarinne/ry-yhteiset.git
[submodule "docs/tonttijakosuunnitelma/v2.0-dev"]
	path = docs/tonttijakosuunnitelma/v2.0-dev
	url = https://github.com/ilkkarinne/Tonttijakosuunnitelman-tietomalli.git
	branch = v2.x
[submodule "docs/rakentamisenluvat/v1.0-dev"]
	path = docs/rakentamisenluvat/v1.0-dev
	url = https://github.com/ilkkarinne/rakentamisenluvat.git
[submodule "docs/rakennuskohteet/v1.0-dev"]
	path = docs/rakennuskohteet/v1.0-dev
	url = https://github.com/ilkkarinne/rakennuskohteet.git
[submodule "docs/kaavatiedot/dev"]
	path = docs/kaavatiedot/dev
	url = https://github.com/ilkkarinne/kaavatietomalli-1.git
	branch = develop
