---
---
@import url('./style-base.css');
@import url('./ea-uml.css');

 #header_wrap {
     display: none;
 }

 #header_wrap {
   .print-title-block {
     display: none;
   }
 }

 #main_content_wrap {
    background-image: url(../img/ym_background_4.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.dropdown-item {
  &.sublevel {
      margin-left: 1em;
      width: auto;
  }
  .fas {
    color: #8f8f8f;
  }
  &.heading {
    font-size: 115%;
    font-variant: all-small-caps;
  }
 }

#header_bar {
  background: #253746;
}
#footer_wrap {
  background: #253746;
  padding-left: 20px;
  padding-top: 30px;

  .inner {
    max-width: none;
    font-size: smaller;

    .row {
      .logo {
        padding-bottom: 5.5em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
      }

      .slot1 {
        background-image: url(../img/YM_logo_official_fi_sv_en_RGB_1colour_white_L.png);
      }

      .slot2 {
        background-image: url(../img/SYKE-logo_lapinakyva.png);
      }

      .slot3 {
        background-image: url(../img/ryhti_logo_valkoinen_rgb.png);
      }

      .copyright {
        p {
          color: #ffffff;
          text-align: right;
        }
    
        a {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

#markdown-toc {
  ol > li:before {
    min-width: 1em;    
  }
}

.navbar-brand {
  display: none;
}

.modulenav {
  .alert  {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .navbar-brand {
    &.short {
      display:block;
    }
    &.long {
      display:none;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar-expand-md .vertical-heading {
    display: none;
  }

  .modulenav {
    .alert {
      display: block;
    }
    .alert:not(.show) {
      display: none;
    }
  }
}

@media screen and (min-width: 992px) {
  .navbar-brand {
    &.short {
      display:none;
    }
    &.long {
      display:block;
    }
  }

  #header_wrap {
    display: block;
  }

  #main_content {
    padding-top: 20px;
  }

  .sidebar-offcanvas {
    padding-top:40px;
  }

  #header_wrap {
    background-image: url(../img/VN-navigaatio-taustakuvio2.svg);
    background-color:#274085;
    background-size: 100% auto;
    position:relative;

    .inner {
      padding: 10px 10px 10px 10px;
    }
  }
}
